# -----------------------------------------------------------------------------------------------------------
# Core latex/pdflatex auxiliary files:
# -----------------------------------------------------------------------------------------------------------
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# minted
_minted*
*.pyg

# -----------------------------------------------------------------------------------------------------------
# Python
# -----------------------------------------------------------------------------------------------------------
__pycache__/

# -----------------------------------------------------------------------------------------------------------
# simbuilds
# -----------------------------------------------------------------------------------------------------------
sim_build/

# -----------------------------------------------------------------------------------------------------------
# Results
# -----------------------------------------------------------------------------------------------------------
*results.xml

